{{header}}
<main class="container">
  <div class="form-group">
    <label for="title"> Experiment's name:</label>
    <input type="text" class="form-control" placeholder="title" id="title">
  </div>
  <form class="form-inline">
    <div class="form-group">
      <label for="machine">Machine:</label>
      <input type="text" class="form-control" id="machine" placeholder="Mechine's name">
    </div>
    <div class="form-group">
      <label for="experimentator">Experimentator:</label>
      <input type="text" class="form-control" id="experimentator" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="strain">Strain:</label>
      <input type="text" class="form-control" id="strain" placeholder="Strain used">
    </div>
    <div class="form-group">
      <label for="strain">Number of droplets (expected):</label>
      <input type="text" class="form-control" id="expected_droplets" placeholder="Expected number of droplets">
    </div>

  </form>

  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="4" id="comments" placeholder="Comments on the experiment"></textarea>
  </div>

  <table class="table table-striped" id="droplets_groups">
  </table>

  <div id="download">
    <h2> Downloads </h2>
    <ul>
      <li><a href="#" id="download_json" download="metadata.json"> modified metadata.json</a></li>
      <li><a href="metadata.json"> original metadata.json</a></li>
    </ul>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading"><strong>Warning: </strong>This page is for visualisation only</div>
    <div class="panel-body">
      You can download your modifications if you want but they are <strong>not</strong> saved on the server.
    </div>
  </div>
</main>
{{footer}}
